.container {
    display: grid;
    height: 100vh;
}

.grid-item {
    border-width: 2px;
    border-style:solid;
}

.clearButton {
    width: 100%;
    background-color: purple;
    color: white;
    margin: 5px;
}